*.properties
RootAndRot.Server/obj/project.assets.json
Hack_Tues_12_Root_-_Rot.sln
rootandrot.client/obj/project.assets.json
rootandrot.client/obj/rider.project.restore.info
RootAndRot.Server/obj/project.assets.json
RootAndRot.Server/obj/project.nuget.cache
RootAndRot.Server/obj/project.packagespec.json
RootAndRot.Server/obj/rider.project.model.nuget.info
RootAndRot.Server/obj/rider.project.restore.info
RootAndRot.Server/obj/RootAndRot.Server.csproj.nuget.dgspec.json
RootAndRot.Server/obj/RootAndRot.Server.csproj.nuget.g.props
RootAndRot.Server/obj/RootAndRot.Server.csproj.nuget.g.targets
RootAndRot.Server/obj/Debug/net10.0/apphost
RootAndRot.Server/obj/Debug/net10.0/RootAndRot.Server.AssemblyInfo.cs
RootAndRot.Server/obj/Debug/net10.0/RootAndRot.Server.AssemblyInfoInputs.cache
RootAndRot.Server/obj/Debug/net10.0/RootAndRot.Server.assets.cache
RootAndRot.Server/obj/Debug/net10.0/RootAndRot.Server.csproj.AssemblyReference.cache
RootAndRot.Server/obj/Debug/net10.0/RootAndRot.Server.GeneratedMSBuildEditorConfig.editorconfig
